{
    "name": "bossac",
    "version": "%%VERSION%%",
    "systems":
    [
        {
        "host": "%%HOST%%",
        "url": "https://github.com/fortytwosystems/BOSSA/releases/download/v%%VERSION%%/%%FILENAME%%",
        "archiveFileName": "%%FILENAME%%",
        "checksum": "SHA-256:%%CHECKSUM%%",
        "size": "%%SIZE%%"
        }
    ]
}